@media(max-width:600px){
    .nav{
        flex-wrap: wrap;
    }
}
.nav{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.nav-btn{
    background-color: #C5D3D3;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.nav-btn a{
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}